# fly.toml app configuration file generated for mouse-track-backend on 2025-11-06T18:11:00+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mouse-track-backend'
primary_region = 'fra'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
